[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
libtmux = "*"
click = "*"
click-shell = "*"
click-log = "*"
colorama = "*"

[dev-packages]

[requires]
python_version = "3.10"
